@model IEnumerable<Phone>

<div class="text-center">



    <table class="table table-light mt-5">
    <thead class="">
        <tr>
          <th scope="col">Venditore</th>
          <th scope="col">Modello</th>
          <th scope="col">Compra</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendor)
               </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                        @Html.ActionLink("Detail", "Detail", new {id = item.Id})
                </td>
                </tr>
            }
      </tbody>
    </table>
</div>